
.card{
    margin-top: 15px;
    width: 18rem;
    max-height: 515px;
    overflow: hidden;
}

.card-img-top {
    max-height: 280px;
}
.w-100{
    width: 100%;
}


.btn {
    padding: 8px 20px !important;
    border-radius: 3px;
}

.h-350{
max-height: 350px !important;
}